<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roombookingapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomBookingApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".SectionBooking"></activity>
        <activity android:name=".SectionLeaderBoard" />
        <activity android:name=".RecoverDetailsPage" />
        <activity android:name=".SectionCreation">
            android:screenOrientation ="portrait"
        </activity>
        <activity
            android:name=".SectionManagement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserBookingManagement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserManagement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BookingManagement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserProfilePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MangementPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrashPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>